:root{
    --maincolor:#0000ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear; 
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
}
/* html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
} */

.navbar-brand img{
    width: 135px;
    font-size:35px;
}
.main{
    background: url(imgaes/andre-alexander-CKyD4ex3hUQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-text{
    text-align: center;
}
.main-text h2{
    color: white;
    font-size: 30px;
}
.main-text h1{
    color: white;
    font-size: 38px;
}
.main-text h1 span{
    color: var(--maincolor);
} 
ul li a{
    color: var(--maincolor);
}
.main-hotel{
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.award-winning-hotel h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem ;
}
.award-winning-hotel h1 span{
    color: var(--maincolor);
}
.inner-award{
    flex: 1 1 300px;
    border: white solid 2px;
    /* width: 200px;
    border-radius: 20px;
    text-align: center;
    height: 100%; */
}
.inner-award h2,p{
    text-align: center;
}
.inner-award h2{
    font-size: 20px;
    padding: 1rem;
}
.inner-award p{
    font-size: 18px;
    padding: 1rem;
}
.inner-award img{
    width: 100%;
    border-radius: 20px;
}
.our-rooms h1 span{
    color: var(--maincolor);
}
.inner-rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-rooms .room-box{
    flex: 1 1 300px;
}
.inner-rooms .room-box img{
    width: 100%;
    padding: 1rem;
}
.inner-rooms .room-box .beds{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.inner-rooms .room-box .beds span{
    font-size: 1.7rem;
}
.inner-rooms .room-box .beds i{
    font-size: 2rem;
    color: var(--maincolor);
    cursor: pointer;
}
.second-background{
    background: url(imgaes/secondback.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-background{
    text-align: center;
    
}
.second-background h1{
    font-size: 60px;
    color: white;
}
.second-background h2{
    color: var(--maincolor);
    font-size: 35px;
}
.gallery{
    padding: 2rem 7%;

}
.gallery h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
}
.gallery h1 span{
    color: var(--maincolor);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-gallery img{
    width: 100%;
}
.our-rooms{
    text-align: center;
}
.mess h5{
    text-align: center;
    margin-top: 10px;
}